---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Skills from '../components/Skills.astro';
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Intro />
    <Skills />
    <ExperienceTimeline />
    <Projects />
    <Education />
  </main>
</Layout>
